:root {
    /* Color system */
    
    --white: #fff;
    --black: #111;
    --gray-text:#CAD5DF;
    --gray-button-text:#84888B;
    --gray-background:#F8FAFD;
    --main-blue: #0A7AFF;
    --main-red: #FF2D55;

  }
