@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

@import url('_reboot.css');
@import url('_variables.css');

[class^="icon"] {display:inline-block;text-indent:-9999em;background-position:0 0;background-repeat:no-repeat}
[class$="component"] {position:relative;max-width:1600px;margin: 0 auto;}

*:focus {outline:none !important}